@import '/src/index.css';
.login {
    border: none;
    display: grid;
    grid-template-columns: 45% 55%;
    height: 100vh;
    margin-top: 0;
}
.image {
    background-image: url('../images/log.png');
    /* height: 100%; */
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.55);
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 30% 5%;
    text-align: center;
    color: var(--white);
}
.login h2 {
    text-align: center;
}
.form{
    padding:5% 25%;
}
.flex, .flexbox{
    display: flex;
}
.flex {
    align-items: center;
}
div.flex h4 {
    margin-left: 10px;
}
.flexbox button {
    height: fit-content;
    font-size: 12px;
}
.flex img {
    width: 12px;
}
.post_container {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px 2%;
    border: 1px solid var(--a_gray);
    border-radius: 7px;
}
.post_container img {
    width: 100%;
    height: 150px;
    border-radius: 7px;
    object-fit: cover;
}
.flexbox {
    align-items: baseline;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
}
.flexbox p, .post_container p {
    font-size: 13px;
    color: var(--black);
}
#profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.main_box {   
    box-sizing: border-box;
    border: 1px solid var(--a_gray);
    margin:  auto;
    margin-bottom: 20px;
    width: 90%;
    max-width: 850px;
    border-radius: 7px;
}
form input, textarea {
    border: none;
    outline: none;
    width: 90%;
}
form .input {
    border: 1px solid var(--a_gray);
    border-radius: 10px;
    padding:10px 16px;
    margin: 10px 0;
}
form button{
    background-color: var(--blue);
    color: var(--white);
    width: 100%;
    margin: 20px 0;
}
.socials {
    background-color: var(--white);
    display: grid;
    grid-template-columns: 20% 80%;
    border: 1px solid var(--blue);
    width: 100%;
    margin: 20px 0;
    color: var(--black);
}
.btn {
    margin: 5px;
    text-align: center;
}
.icon {
    width: 35px;
}

.name {
    display: grid;
    grid-template-columns: 47.5% 5% 47.5%;
}
textarea{
    height: 150px;
}
.blog {
    max-width: 700px;
    width: 90%;
    margin: auto;
}
.edit {
    width:90%;
    max-width: 600px;
    margin: auto;
}
.notEdit, .notEdit input {
    background-color: rgb(234, 242, 239);
}
@media (max-width : 750px) {
    .login {
        display: block;
    }
    .form {
        padding: 5%;
    }
    .socials {
        width: 70%;
        margin: 10px auto;

    }
    .form_button{
        width: 100%;
        display: grid;
        margin: auto;
    }
}