.search-bar-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px;
    width: 80%;
    max-width: 400px;
    margin:20px auto;
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
  }
  
  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
  }
  